@import 'config';
@import 'navbar';
@import 'utility';
@import 'sections';
@import 'modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Special Elite', cursive;
  font-size: 1.1;
  line-height: 1.5;
  letter-spacing: 3px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}